<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>anki.png</string>
			<key>Shell Script File</key>
			<string>anki.sh</string>
			<key>Regular Expression</key>
			<string>(?s)^(\w+?\s*?){1,2}$</string>
			<key>Stoppable</key>
			<true/>
			<key>Title</key>
			<string>Anki</string>
			<key>After</key>
			<string>show-status</string>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Option Identifier</key>
			<string>dict_svc</string>
			<key>Option Label</key>
			<dict>
				<key>en</key>
				<string>Dictionary Service</string>
			</dict>
			<key>Option Type</key>
			<string>multiple</string>
			<key>Option Values</key>
			<array>
				<string>caiyun</string>
				<string>youdao</string>
			</array>
            <key>Option Value Labels</key>
            <array>
                <string>彩云小译</string>
                <string>有道词典</string>
            </array>
			<key>Option Default Value</key>
			<string>youdao</string>
			<key>Option Description</key>
			<string>choose Dictionary API</string>
		</dict>
		<dict>
			<key>Option Identifier</key>
			<string>api_token</string>
			<key>Option Label</key>
			<dict>
				<key>en</key>
				<string>API TOKEN</string>
			</dict>
			<key>Option Type</key>
			<string>string</string>
			<key>Option Default Value</key>
			<string>3975l6lr5pcbvidl6jl2</string>
			<key>Option Description</key>
			<string>caiyun api token</string>
		</dict>
		<dict>
			<key>Option Identifier</key>
			<string>target_deck</string>
			<key>Option Label</key>
			<dict>
				<key>en</key>
				<string>Target Deck</string>
			</dict>
			<key>Option Type</key>
			<string>string</string>
			<key>Option Default Value</key>
			<string>Default</string>
			<key>Option Description</key>
			<string>choose Deck</string>
		</dict>
		<dict>
			<key>Option Identifier</key>
			<string>note_type</string>
			<key>Option Label</key>
			<dict>
				<key>en</key>
				<string>Note Type</string>
			</dict>
			<key>Option Type</key>
			<string>string</string>
			<key>Option Default Value</key>
			<string>PopClip</string>
			<key>Option Description</key>
			<string>choose Note Type</string>
		</dict>
		<dict>
			<key>Option Identifier</key>
			<string>front_field</string>
			<key>Option Label</key>
			<dict>
				<key>en</key>
				<string>Front Field</string>
			</dict>
			<key>Option Type</key>
			<string>string</string>
			<key>Option Default Value</key>
			<string>Front</string>
			<key>Option Description</key>
			<string>choose Front Field</string>
		</dict>
		<dict>
			<key>Option Identifier</key>
			<string>back_field</string>
			<key>Option Label</key>
			<dict>
				<key>en</key>
				<string>Back Field</string>
			</dict>
			<key>Option Type</key>
			<string>string</string>
			<key>Option Default Value</key>
			<string>Back</string>
			<key>Option Description</key>
			<string>choose Back Field</string>
		</dict>
		<dict>
			<key>Option Identifier</key>
			<string>source_field</string>
			<key>Option Label</key>
			<dict>
				<key>en</key>
				<string>Source Field</string>
			</dict>
			<key>Option Type</key>
			<string>string</string>
			<key>Option Default Value</key>
			<string>Source</string>
			<key>Option Description</key>
			<string>record the source</string>
		</dict>
		<dict>
			<key>Option Identifier</key>
			<string>tag</string>
			<key>Option Label</key>
			<dict>
				<key>en</key>
				<string>Tag</string>
			</dict>
			<key>Option Type</key>
			<string>string</string>
			<key>Option Default Value</key>
			<string>PopClip</string>
			<key>Option Description</key>
			<string>default tags</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Create a new Anki Note with selected word.</string>
	<key>Extension Identifier</key>
	<string>blog.jingyi.anki</string>
	<key>Extension Name</key>
	<string>Anki</string>
	<key>Required Software Version</key>
	<integer>693</integer>
</dict>
</plist>
